ul{
    text-align: start;
    list-style: none;
}
#titulo{
    border-bottom: 3px solid  #545454;
    
    
}
#elemento{
    margin-bottom: 10px;
}
#fondo{
    background-color: #FFFFFF;
      
  }
#icono{
    width: 30px;
    height: 30px;
}